<mat-card>
  <mat-card-title>
      Login Admin
  </mat-card-title>

  <mat-card-content>
    <mat-form-field class="example-full-width">
      <input #name matInput placeholder="name" value="admin">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input #password matInput placeholder="password" type="password">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="login(name.value, password.value)">Login</button>
    
  </mat-card-content>
</mat-card>
